@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply relative w-full overflow-hidden;
  }

  .sectionEven {
    @apply section bg-light-background dark:bg-dark-primary;
    clip-path: polygon(0 0, 100% calc(5vw), 100% 100%, 0 calc(100% - 5vw));
  }

  .sectionUneven {
    @apply section bg-light-background dark:bg-dark-background;
  }

  .sectionLast {
    @apply section bg-light-background dark:bg-dark-primary;
    clip-path: polygon(0 0, 100% calc(5vw), 100% 100%, 0 100%);
  }

  .contentStyle {
    @apply relative w-full m-auto lg:py-[104px] md:py-[88px] py-[70px] px-8;
  }
  
  .about {
    @apply contentStyle max-w-[1000px];
  }

  .skills {
    @apply contentStyle max-w-[700px];
  }

  .projects {
    @apply contentStyle max-w-[1200px];
  }
  
  .contact {
    @apply contentStyle max-w-[1000px] pb-[200px];
  }

  .sectionHead {
    @apply uppercase text-center text-lg sm:text-xl lg:text-2xl tracking-[12px] text-light-theme dark:text-dark-theme pb-[8px] md:pb-3 border-b-2 border-[#adadad] dark:border-dark-600;
  }

  .sectionTitle {
    @apply uppercase text-center font-semibold tracking-[6px] pt-3;
  }

  .button {
    @apply flex justify-center items-center;
    background-image: linear-gradient(45deg, rgba(123, 47, 247, 0.3), rgba(241, 7, 163, 0.3));
  }

  .button:hover {
    background-image: linear-gradient(45deg, rgba(123, 47, 247, 0.75), rgba(241, 7, 163, 0.75));
  }

  .input {
    @apply border-b-2 py-2 px-1 focus:outline-none bg-light-primary dark:bg-dark-primary;
    border-image-source: linear-gradient(45deg, rgba(123, 47, 247, 0.3), rgba(241, 7, 163, 0.3));
    border-image-slice: 1;
  }

  .input:focus, :hover {
    border-image-source: linear-gradient(90deg, rgba(123, 47, 247, 0.75), rgba(241, 7, 163, 0.75));
    transition-duration: 200ms;
  }

  .input-error {
    @apply border-b-2 border-[red]/75 py-2 px-1 focus:outline-none bg-light-primary dark:bg-dark-primary;
  }

  .input-container {
    @apply relative flex flex-col pb-[2px];
  }

  .input-label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 14px) scale(1);
    transform-origin: top left;
    transition: 200ms;
    color: #888888;
    line-height: 1;
    left: 6px;
  }

  .input-container:focus-within .input-label {
    transform: translate(0, -10px) scale(0.8);
    color: #888888;
  }

  .input-label-float {
    position: absolute;
    pointer-events: none;
    transform-origin: top left;
    transition: 200ms;
    color: #888888;
    line-height: 1;
    left: 6px;
    transform: translate(0, -10px) scale(0.8);
    color: #888888;
  }

  .card {
    @apply lg:flex items-center my-12 w-full;
  }

  .card-even {
    @apply card;
  }

  .card-uneven {
    @apply card justify-end;
  }

  .sm-card-img-even {
    @apply w-full;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 120px), 0 100%);
  }

  .sm-card-img-uneven {
    @apply w-full;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 120px));
  }

  .card-img {
    @apply w-full;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .sm-card-description {
    @apply w-full bg-dark-secondary rounded mt-[-120px] pt-[120px];
  }

  .sm-card-description-even {
    @apply sm-card-description;
    clip-path: polygon(0 120px, 100% 0, 100% 100%, 0 100%);
  }

  .sm-card-description-uneven {
    @apply sm-card-description;
    clip-path: polygon(0 0, 100% 120px, 100% 100%, 0 100%);
  }
  
  .card-description {
    @apply lg:absolute lg:w-[45%] bg-dark-secondary rounded;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .card-description-even {
    @apply card-description right-8;
  }

  .card-description-uneven {
    @apply card-description left-8;
  }
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

* {
  @apply dark:text-[#eeeeee]
}
 
h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl sm:text-5xl lg:text-6xl
}

h2 {
  @apply text-2xl sm:text-4xl lg:text-5xl
}

h3 {
  @apply text-xl sm:text-3xl lg:text-4xl
}

h4 {
  @apply text-lg md:text-2xl lg:text-3xl
}