@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --x: 50%;
    --y: 50%;
    --bg-grad-30: linear-gradient(45deg,
            rgba(123, 47, 247, 0.3),
            rgba(241, 7, 163, 0.3));
    --bg-grad-50: linear-gradient(45deg,
            rgba(123, 47, 247, 0.5),
            rgba(241, 7, 163, 0.5));
    --bg-grad-75: linear-gradient(45deg,
            rgba(123, 47, 247, 0.75),
            rgba(241, 7, 163, 0.75));
    --bg-grad-90: linear-gradient(45deg,
            rgba(123, 47, 247, 0.9),
            rgba(241, 7, 163, 0.9));
    --bg-red: linear-gradient(45deg,
            rgba(256, 0, 0, 0.25),
            rgba(256, 0, 0, 0.25));
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cb24ff72;
    border-radius: 3px;
}

.light .scrollbar::-webkit-scrollbar-thumb,
.light .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cb24ff;
}

.light .scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

@layer components {
    .section {
        @apply relative w-full pb-32;
    }

    .content-style {
        @apply relative w-full m-auto p-4 lg:p-8;
    }

    .about,
    .skills,
    .contact {
        @apply content-style max-w-[1000px];
    }

    .projects {
        @apply content-style max-w-[1300px];
    }

    .section-head {
        @apply uppercase text-center text-2xl sm:text-3xl md:text-4xl lg:text-[2.5rem] tracking-[15px] text-light-theme dark:text-dark-theme relative;
    }

    .button {
        @apply relative flex justify-center items-center rounded shadow-md px-3 py-1;
    }

    .button-secondary {
        @apply button bg-light-secondary dark:bg-dark-secondary;
    }

    .background>.content {
        @apply h-full flex justify-center items-center;
    }

    .button>.background {
        @apply opacity-75 dark:opacity-50;
    }

    .button-secondary>.background {
        @apply opacity-0 dark:opacity-0;
    }

    .button>.background,
    .button-secondary>.background {
        @apply absolute inset-0 rounded;
        background-image: var(--bg-grad-75);
        transition: opacity 200ms ease-in;
    }

    .button:hover>.background,
    .button-secondary:hover>.background {
        @apply opacity-100;
    }

    .input {
        @apply border-b-2 pt-2 pb-1 px-1 focus:outline-none bg-transparent;
        border-image-source: var(--bg-grad-30);
        border-image-slice: 1;
    }

    .input.error {
        border-image-source: var(--bg-red);
    }

    .input:focus,
    :hover {
        border-image-source: var(--bg-grad-75);
        transition-duration: 200ms;
    }

    .input-container {
        @apply relative flex flex-col pb-[2px];
    }

    .input-label {
        position: absolute;
        pointer-events: none;
        transform: translate(0, 14px) scale(1);
        transform-origin: top left;
        transition: 200ms;
        color: #9e9e9e !important;
        line-height: 1;
        left: 4px;
    }

    .input-container:focus-within .input-label {
        transform: translate(0, -12px) scale(0.8);
        color: #9e9e9e;
    }

    .input-label-float {
        position: absolute;
        pointer-events: none;
        transform-origin: top left;
        line-height: 1;
        left: 4px;
        transform: translate(0, -12px) scale(0.8);
        color: #9e9e9e;
    }

    .card {
        @apply relative lg:flex lg:items-center my-12 w-full;
    }

    .card-even {
        @apply card;
    }

    .card-uneven {
        @apply card justify-end;
    }

    .sm-card-img-even {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 120px), 0 100%);
    }

    .sm-card-img-uneven {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 120px));
    }

    .card-img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .card-img-uneven {
        @apply card-img right-0;
    }

    .card-description-bg {
        @apply bg-light-primary dark:bg-dark-primary;
    }

    .sm-card-description {
        @apply lg:hidden w-full rounded mt-[-120px] pt-[98px] pb-2 px-2 card-description-bg;
    }

    .sm-card-description-even {
        @apply sm-card-description;
        clip-path: polygon(0 120px, 100% 0, 100% 100%, 0 100%);
    }

    .sm-card-description-uneven {
        @apply sm-card-description;
        clip-path: polygon(0 0, 100% 120px, 100% 100%, 0 100%);
    }

    .card-description {
        @apply absolute w-[50%] xl:w-[45%] rounded card-description-bg shadow-2xl;
    }

    .card-description-even {
        @apply card-description right-0;
    }

    .card-description-uneven {
        @apply card-description left-0;
    }
}

body {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

* {
    @apply dark:text-[#eeeeee];
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
}

h1 {
    @apply text-3xl sm:text-5xl lg:text-6xl;
}

h2 {
    @apply text-2xl sm:text-4xl lg:text-5xl;
}

h3 {
    @apply text-xl sm:text-3xl lg:text-4xl;
}

h4 {
    @apply text-lg md:text-2xl lg:text-3xl;
}

.hover-underline {
    @apply relative;
}

.hover-underline:hover::after {
    @apply scale-x-100;
}

.hover-underline::after {
    @apply absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 transform bg-current transition-transform duration-300;
    content: "";
}
